@model PlataformaDeVuelos.Models.VueloModels
@{
    ViewBag.Title = "Modificacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modificacion de Vuelo</h2>

@using (Html.BeginForm("Guardar", "Vuelos"))
{
    @Html.ValidationSummary(true, "Por favor Arregle los errores")
    <div class="form-group">
        @Html.LabelFor(v => v.HorarioDeLlegada)
        @Html.TextBoxFor(v => v.HorarioDeLlegada, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.HorarioDeLlegada)

    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.NumeroDeVuelo)
        @Html.TextBoxFor(v => v.NumeroDeVuelo, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.NumeroDeVuelo)
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.LineaAerea)
        @Html.TextBoxFor(v => v.LineaAerea, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.LineaAerea)

    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(v => v.Demorado) Demorado
        </label>
    </div>
    @Html.HiddenFor(v => v.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Guardar</button>
}



@section scripts
 {
    @Scripts.Render("~/bundles/jqueryval")

   
}